[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DFIT"]
	path = DFIT
	url = https://github.com/herulor/dfit
	shallow = true
	registered = true
